body {
	background-image: url(background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

ol {
	text-align: center;
	color: white;
	font-family: Verdana;
	font-size: 20px;
}

h1 {
    font-family: Verdana;
    color: LightBlue;
    font-size: 40px;
    text-align: center;
}

p {
    font-family: Verdana;
    font-size: 20px;
	text-align: center;
	color: white;
    }

img {
    display: block;
    margin: auto;
    width: 40%;
}